[submodule "odoo-peru"]
	path = odoo-peru
	url = git@git.vauxoo.com:vauxoo/odoo-peru.git
	branch = 12.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 12.0
